<h1 class="font_color">Edit Product</h1>	
	
	<%= form_for @product do |f|%>
	
	<%= f.label :title%> 
	<%= f.text_field :title %></br>

	<%= f.label :price%> 
	<%= f.text_field :price %></br>

	<%= f.label :image%> 
	<%= f.file_field :image %></br>

	<%= collection_select(:product,:category_id, Category.all, :id, :name,{:prompt => 'Select'})%></br>

	<%= submit_tag "Submit"%>

<%end%>

